#comp-kvs5id46{
    background-size:cover;
    height:100vh !important;
}


.nft-art-gen-section{
    flex-flow:column wrap !important;
}
  
.nft-art-gen-section button, .nft-art-gen-section select{
    justify-content: flex-start;
    font-family: 'chelsea market',fantasy !important;
    font-weight: bold !important;
    display:block !important;
    width:max-content !important;
    margin-bottom:5px;
    /* margin-left:auto;
    margin-right:auto; */
    background-color: white !important;
    border-radius: 12px !important;
    padding:10px 20px;
    color:black !important;
    text-align: center;
    font-size: 1.3rem !important;
    height:auto !important;
    line-height: auto !important;
    font-weight:400 !important;
}
  
@media (max-width: 991px) {
    .nft-art-gen-section button, .nft-art-gen-section select{
      font-size:1.3rem !important;
    }
}
  
.nft-art-gen-mint-progress{
    font-size:1.3rem !important;
    text-align: center;
    color: #ffffff !important;
    font-family: 'chelsea market',fantasy !important;
    margin:10px;
}

#comp-kvqf2wcz{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

#comp-kwlxwnzq{
    margin-top: 1rem !important;
}

#comp-kvqdnagu{
    margin-top: 1rem !important;
}